enset-ws/ClientWs/src/main/java/proxy/BanqueWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://enset.ma/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://enset.ma/" name="BanqueServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://enset.ma/" schemaLocation="http://localhost:8087/?xsd=1"/>
</xsd:schema>
</types>
<message name="Convert">
<part name="parameters" element="tns:Convert"/>
</message>
<message name="ConvertResponse">
<part name="parameters" element="tns:ConvertResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="compteList">
<part name="parameters" element="tns:compteList"/>
</message>
<message name="compteListResponse">
<part name="parameters" element="tns:compteListResponse"/>
</message>
<portType name="BanqueWS">
<operation name="Convert">
<input wsam:Action="http://enset.ma/BanqueWS/ConvertRequest" message="tns:Convert"/>
<output wsam:Action="http://enset.ma/BanqueWS/ConvertResponse" message="tns:ConvertResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://enset.ma/BanqueWS/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://enset.ma/BanqueWS/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="compteList">
<input wsam:Action="http://enset.ma/BanqueWS/compteListRequest" message="tns:compteList"/>
<output wsam:Action="http://enset.ma/BanqueWS/compteListResponse" message="tns:compteListResponse"/>
</operation>
</portType>
<binding name="BanqueWSPortBinding" type="tns:BanqueWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Convert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="compteList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueServiceService">
<port name="BanqueWSPort" binding="tns:BanqueWSPortBinding">
<soap:address location="http://localhost:8087/"/>
</port>
</service>
</definitions>